<div class="card">
  <div class="card-body">
    <div class="d-flex">
      <span class="flex-grow-1 fw-bold">
        Nome
      </span>
      <span>
        <%= equipment.name %>
      </span>
    </div>
    <div class="d-flex">
      <span class="flex-grow-1 fw-bold">
        Número de Série
      </span>
      <span>
        <%= equipment.serial_number %>
      </span>
    </div>
  </div>
  <div class="card-footer">
    <%= link_to "Editar", edit_equipment_path(equipment), class: "btn btn-info" %>
  </div>
</div>
