<div id="kt_header" class="header align-items-stretch mb-5 mb-lg-10" data-kt-sticky="true" data-kt-sticky-name="header" data-kt-sticky-offset="{default: '200px', lg: '300px'}">
  <!--begin::Container-->
  <div class="container-xxl d-flex align-items-center">
    <!--begin::Heaeder menu toggle-->
    <div class="d-flex topbar align-items-center d-lg-none ms-n2 me-3" title="Show aside menu">
      <div class="btn btn-icon btn-active-light-primary btn-custom w-30px h-30px w-md-40px h-md-40px" id="kt_header_menu_mobile_toggle">
        <i class="ki-duotone ki-abstract-14 fs-1">
          <span class="path1"></span>
          <span class="path2"></span>
        </i>
      </div>
    </div>
    <!--end::Heaeder menu toggle-->
    <!--begin::Header Logo-->
    <div class="header-logo me-5 me-md-10 flex-grow-1 flex-lg-grow-0">
      <a href="index.html">
        <%#>= image_tag "template/logos/demo2.png", class: "logo-default h-25px" %>
        <%#>= image_tag "template/logos/demo2-sticky.png", class: "logo-sticky h-25px" %>
      </a>
    </div>
    <!--end::Header Logo-->
    <!--begin::Wrapper-->
    <div class="d-flex align-items-stretch justify-content-between flex-lg-grow-1">
      <!--begin::Navbar-->
      <div class="d-flex align-items-stretch" id="kt_header_nav">
        <!--begin::Menu wrapper-->
        <%= render "shared/menu" %>
        <!--end::Menu wrapper-->
      </div>
      <!--end::Navbar-->
      <!--begin::Toolbar wrapper-->
      <div class="topbar d-flex align-items-stretch flex-shrink-0">
        <!--begin::User-->
        <div class="d-flex align-items-center me-lg-n2 ms-1 ms-lg-3" id="kt_header_user_menu_toggle">
          <%= button_to('Logout', destroy_user_session_path, method: :delete, class: "btn btn-primary") %>
        </div>
        <!--end::User -->
        <!--begin::Aside mobile toggle-->
        <!--end::Aside mobile toggle-->
      </div>
      <!--end::Toolbar wrapper-->
    </div>
    <!--end::Wrapper-->
  </div>
  <!--end::Container-->
</div>
