<h4>Listando os clientes jรก cadastrados no sistema:</h4>
<div class="card">
  <div class="card-body">
    <div class="d-flex">
      <span class="flex-grow-1 fw-bold">
        Nome
      </span>
      <span>
        <%= customer.name %>
      </span>
    </div>
  </div>
  <%# if policy(customer).update? %>
    <div class="card-footer">
      <%= link_to "Editar", edit_customer_path(customer), class: "btn btn-info" %>
    </div>
  <%# end %>
</div>
